form(action='/message/' method="POST")
	label(for="id") Type a message!			
	textarea(name="id" rows="3" cols="5")
	input(type="hidden", name="_method", value="PUT")
	//input(name="id", type="textbox")
		
	input(type="submit" value="Submit")